* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v15_71 {
  width: 360px;
  height: 2010px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v15_72 {
  width: 360px;
  height: 100%;
  background: rgba(255,255,240,1);
  opacity: 1;
  position: absolute;
  top: 125px;
  left: 0px;
}
.v15_74 {
  width: 312px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 564px;
  left: 24px;
  font-family: American Typewriter;
  font-weight: Condensed;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v15_75 {
  width: 306px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 516px;
  left: 24px;
  font-family: Eras Light ITC;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v15_77 {
  width: 312px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1441px;
  left: 24px;
  font-family: American Typewriter;
  font-weight: Condensed;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v15_78 {
  width: 194px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1407px;
  left: 24px;
  font-family: Eras Light ITC;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v15_79 {
  width: 312px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 153px;
  left: 24px;
  font-family: Eras Medium ITC;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v15_82 {
  width: 144px;
  height: 26px;
  background: rgba(187,183,141,1);
  opacity: 1;
  position: absolute;
  top: 1913px;
  left: 105px;
  overflow: hidden;
}
.v15_83 {
  width: 113px;
  color: rgba(51,51,49,1);
  position: absolute;
  top: 1918px;
  left: 130px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v62_14 {
  width: 310px;
  height: 391px;
  background: url("../images/v62_14.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 996px;
  left: 25px;
  overflow: hidden;
}
.v62_12 {
  width: 312px;
  height: 309px;
  background: url("../images/v62_12.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 196px;
  left: 24px;
  overflow: hidden;
}
.v98_7 {
  width: 56px;
  height: 56px;
  background: url("../images/v98_7.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1857px;
  left: 149px;
  overflow: hidden;
}
.v15_90 {
  width: 360px;
  height: 124px;
  background: rgba(51,51,49,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v98_8 {
  width: 60px;
  height: 60px;
  background: url("../images/v98_8.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 276px;
  overflow: hidden;
}
.v98_5 {
  width: 30px;
  height: 59px;
  background: url("../images/v98_5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 38px;
  overflow: hidden;
}
