* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v316_1643 {
  width: 100%;
  height: 1117px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v316_1646 {
  width: 190px;
  height: 108px;
  background: url("../images/v316_1646.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 979px;
  left: 769px;
  overflow: hidden;
}
.v316_1647 {
  width: 190px;
  height: 34px;
  background: url("../images/v316_1647.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 73px;
  left: 0px;
  overflow: hidden;
}
.v316_1648 {
  width: 190px;
  height: 34px;
  background: rgba(187,183,141,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v316_1649 {
  width: 190px;
  color: rgba(51,51,49,1);
  position: absolute;
  top: 6px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v408_16 {
  width: 74px;
  height: 74px;
  background: url("../images/v408_16.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 58px;
  overflow: hidden;
}
.v320_1730 {
  width: 100%;
  height: 861px;
  background: url("../images/v320_1730.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 108px;
  left: 124px;
  overflow: hidden;
}
.v316_1653 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 763px;
  left: 0px;
  font-family: Eras Light ITC;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v316_1654 {
  width: 728px;
  height: 616px;
  background: url("../images/v316_1654.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 61px;
  left: 752px;
  overflow: hidden;
}
.v316_1655 {
  width: 726px;
  color: rgba(51,51,49,1);
  position: absolute;
  top: 585px;
  left: 2px;
  font-family: Eras Light ITC;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v380_2 {
  width: 728px;
  height: 567px;
  background: url("../images/v380_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v316_1657 {
  width: 726px;
  height: 691px;
  background: url("../images/v316_1657.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 61px;
  left: 0px;
  overflow: hidden;
}
.v316_1658 {
  width: 726px;
  color: rgba(51,51,49,1);
  position: absolute;
  top: 532px;
  left: 0px;
  font-family: American Typewriter;
  font-weight: Condensed;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v316_1659 {
  width: 726px;
  height: 515px;
  background: url("../images/v316_1659.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v316_1660 {
  width: 726px;
  color: rgba(51,51,49,1);
  position: absolute;
  top: 500px;
  left: 0px;
  font-family: Eras Light ITC;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v316_1661 {
  width: 726px;
  height: 478px;
  background: url("../images/v316_1661.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v316_1662 {
  width: 298px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Eras Medium ITC;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v316_1663 {
  width: 100%;
  height: 77px;
  background: url("../images/v316_1663.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v316_1664 {
  width: 100%;
  height: 77px;
  background: rgba(51,51,49,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v408_13 {
  width: 164px;
  height: 59px;
  background: url("../images/v408_13.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 137px;
  overflow: hidden;
}
.v408_14 {
  width: 84px;
  height: 84px;
  background: url("../images/v408_14.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 1521px;
  overflow: hidden;
}
