* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v4_129 {
  width: 360px;
  height: 1603px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v4_130 {
  width: 360px;
  height: 100%;
  background: rgba(255,255,240,1);
  opacity: 1;
  position: absolute;
  top: 87px;
  left: 0px;
  overflow: hidden;
}
.v17_5 {
  width: 144px;
  height: 101px;
  background: url("../images/v17_5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1448px;
  left: 110px;
  overflow: hidden;
}
.v17_6 {
  width: 144px;
  height: 101px;
  background: url("../images/v17_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v17_7 {
  width: 144px;
  height: 26px;
  background: rgba(187,183,141,1);
  opacity: 1;
  position: absolute;
  top: 75px;
  left: 0px;
  overflow: hidden;
}
.v17_8 {
  width: 113px;
  color: rgba(51,51,49,1);
  position: absolute;
  top: 80px;
  left: 25px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v114_7 {
  width: 75px;
  height: 75px;
  background: url("../images/v114_7.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 34px;
  overflow: hidden;
}
.v48_49 {
  width: 310px;
  color: rgba(63,59,60,1);
  position: absolute;
  top: 1381px;
  left: 24px;
  font-family: Eras Light ITC;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v61_7 {
  width: 311px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 602px;
  left: 25px;
  font-family: Eras Light ITC;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v28_61 {
  width: 312px;
  height: 412px;
  background: url("../images/v28_61.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 178px;
  left: 24px;
  overflow: hidden;
}
.v4_139 {
  width: 312px;
  color: rgba(51,51,49,1);
  position: absolute;
  top: 106px;
  left: 24px;
  font-family: Eras Medium ITC;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v87_4322 {
  width: 312px;
  color: rgba(51,51,49,1);
  position: absolute;
  top: 658px;
  left: 24px;
  font-family: American Typewriter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v4_147 {
  width: 360px;
  height: 88px;
  background: url("../images/v4_147.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v4_148 {
  width: 360px;
  height: 88px;
  background: rgba(51,51,49,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v114_5 {
  width: 76px;
  height: 76px;
  background: url("../images/v114_5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 269px;
  overflow: hidden;
}
.v114_8 {
  width: 75px;
  height: 75px;
  background: url("../images/v114_8.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 13px;
  overflow: hidden;
}
